log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/db/*.sqlite3-shm
spec/dummy/db/*.sqlite3-wal
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
coverage
.rspec
*.sublime-*
.idea

# Bundler-related
.bundle/
vendor/bundle
gemfiles/*.lock
