<%= render 'payola/transactions/checkout', sellable: @product, button_class: 'not-a-class' %>

<hr>

<%= form_for @product, url: '/', method: :post, html: { class: 'payola-payment-form', 'data-payola-base-path' => '/subdir/payola', 'data-payola-product' => @product.product_class, 'data-payola-permalink' => @product.permalink } do |f| %>
  <span class="payola-payment-error"></span>
  Email:<br>
  <input type="email" name="stripeEmail" data-payola="email"></input><br>
  Card Number<br>
  <div id="card-number"></div><br>
  Expiration<br>
  <div id="card-expiry"></div><br>
  CVC<br>
  <div id="card-cvc"></div><br>
  <div id="card-errors" role="alert"></div>
  <input type="submit"></input>
<% end %>
